@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9fd;
  font-family: "Baloo Paaji 2", cursive;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 3.95px solid transparent;
  border-right: 3.95px solid transparent;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #f02020ee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff5e5eee;
}

.e-commerce-content .e-upper-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.e-commerce-content .e-upper-navbar .e-nav-left-side, .e-commerce-content .e-upper-navbar .e-nav-right-side {
  display: flex;
  list-style: none;
}
.e-commerce-content .e-upper-navbar .e-nav-left-side a, .e-commerce-content .e-upper-navbar .e-nav-right-side a {
  display: block;
  padding: 15px;
  color: #6d6d6d;
  text-decoration: none;
}
.e-commerce-content .e-upper-navbar .e-nav-left-side a.on, .e-commerce-content .e-upper-navbar .e-nav-right-side a.on {
  background-color: #ff2537;
  font-weight: bold;
  color: #f7f7f7;
  box-shadow: 0 0 5px 0 #ff9393;
}
.e-commerce-content .e-lower-navbar {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 3px 7px -4px #d3d3d3;
  background-color: #fff;
}
.e-commerce-content .e-lower-navbar > li {
  border: 1px solid #e7e7e7;
  width: 100%;
  text-align: center;
}
.e-commerce-content .e-lower-navbar > li.e-img-logo {
  width: 16%;
}
.e-commerce-content .e-lower-navbar > li.e-img-logo img {
  object-fit: cover;
  object-position: center;
  width: 80px;
  height: 80px;
  padding: 15px;
}
.e-commerce-content .e-lower-navbar > li .e-lower-nav-options {
  display: flex;
  list-style: none;
  margin-top: 6px;
}
.e-commerce-content .e-lower-navbar > li .e-lower-nav-options a {
  color: #242424;
  font-weight: 600;
}
.e-commerce-content .e-lower-navbar > li a {
  display: block;
  padding: 15px;
  margin-top: 10px;
  text-decoration: none;
}
.e-commerce-content .e-lower-navbar > li.e-shopping-cart {
  width: 20%;
  color: #8d8d8d;
  cursor: pointer;
}
.e-commerce-content .e-lower-navbar > li .input-group-text {
  background-color: #fff;
  border: 0;
  padding: 0 5px 0 25px;
  margin-bottom: 0;
  color: #8d8d8d;
}
.e-commerce-content .e-lower-navbar > li .input-group-text i {
  font-size: 1.5rem;
}
.e-commerce-content .e-lower-navbar > li input {
  border: 0;
  padding: 31px 25px 31px 5px;
}
.e-commerce-content .e-lower-navbar > li input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.e-commerce-content .e-main-content {
  display: flex;
}
.e-commerce-content .e-main-content .e-side-navbar {
  width: 23%;
}
.e-commerce-content .e-main-content .e-side-navbar .e-gadgets {
  padding: 30px 40px 30px 30px;
  margin: 10px;
  background-color: #ff3131;
  box-shadow: 2px 2px 10px -3px #fd0000;
  color: #fff;
}
.e-commerce-content .e-main-content .e-side-navbar .e-gadgets .e-gadget-nav {
  list-style: none;
}
.e-commerce-content .e-main-content .e-side-navbar .e-gadgets .e-gadget-nav a {
  display: block;
  text-decoration: none;
  color: #e9e9e9;
  padding: 10px 0 0 0;
}
.e-commerce-content .e-main-content .e-side-navbar .e-gadgets .e-gadget-nav a .e-gadges-cant {
  padding-left: 40px;
}
.e-commerce-content .e-main-content .e-side-navbar .e-gadgets .e-gadget-nav a:hover {
  transition: all 0.3s;
  color: #fff;
}
.e-commerce-content .e-main-content .e-side-navbar .e-brands {
  padding: 30px 40px 30px 30px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 15px -6px #cacaca;
}
.e-commerce-content .e-main-content .e-side-navbar .e-brands .e-brand-nav {
  list-style: none;
}
.e-commerce-content .e-main-content .e-mright-content {
  width: 90%;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #f3f3f3;
  cursor: pointer;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card:hover {
  position: absolute;
  transform: scale(1.04);
  width: 25.7%;
  box-shadow: 2px 0 30px -10px #c4c4c4;
  transition: all 0.4s;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card:hover .hidden-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 45px;
  transition: all 0.5s ease;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card:hover .hidden-content .e-add-cart-button, .e-commerce-content .e-main-content .e-mright-content .e-product-card:hover .hidden-content .e-add-wishlist {
  visibility: visible;
  transition: all 0.5s ease;
  padding: 10px 25px 9px 25px;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .img-card-product {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .e-price {
  font-weight: 500;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .e-price.frst {
  color: #ff006a;
  font-size: 1.6rem;
  font-weight: 600;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .e-price.scnd {
  color: #979797;
  font-size: 0.95rem;
  text-decoration-line: line-through;
  position: relative;
  top: -5px;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content {
  display: flex;
  justify-content: space-evenly;
  height: 0;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content button.e-add-cart-button {
  background-color: #ff467e;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  box-shadow: 1px 1px 3px 0 #ff629e;
  visibility: hidden;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content button.e-add-cart-button:hover {
  transition: all 0.5s;
  background-color: #fc8ab6;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content .e-add-wishlist {
  text-align: left;
  color: #f59c9c;
  visibility: hidden;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content .e-add-wishlist .on-hover {
  display: none;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content .e-add-wishlist:hover {
  color: #ff5d5d;
  transition: all 0.3s;
  transform: scale(1.1, 1.1);
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content .e-add-wishlist:hover .no-hover {
  display: none;
}
.e-commerce-content .e-main-content .e-mright-content .e-product-card .hidden-content .e-add-wishlist:hover .on-hover {
  transition: all 0.3s;
  display: block;
  transform: scale(1.2, 1.2);
}

/*# sourceMappingURL=ecom-styles.css.map */
