@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 249, 253);
    font-family: 'Baloo Paaji 2', cursive;
}

.e-commerce-content {

    .e-upper-navbar {
        display: flex;
        justify-content: space-between;
        background-color: #fff;

        .e-nav-left-side, .e-nav-right-side {
            display: flex;
            list-style: none;
            
            a {
                display: block;
                padding: 15px;
                color: rgb(109, 109, 109);
                text-decoration: none;

                &.on {
                    background-color: rgb(255, 37, 55);
                    font-weight: bold;
                    color: rgb(247, 247, 247);
                    box-shadow: 0 0 5px 0 rgb(255, 147, 147);
                }
            }
        }
    }

    .e-lower-navbar {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-between;
        box-shadow: 0 3px 7px -4px #d3d3d3;
        background-color: #fff;

        & > li {
            border: 1px solid rgb(231, 231, 231);
            width: 100%;
            text-align: center;

            &.e-img-logo {
                width: 16%;

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 80px;
                    height: 80px;
                    padding: 15px;
                }
            }

            .e-lower-nav-options {
                display: flex;
                list-style: none;
                margin-top: 6px;

                a {
                    color: #242424;
                    font-weight: 600;
                }
            }

            a {
                display: block;
                padding: 15px;
                margin-top: 10px;
                text-decoration: none;
            }

            &.e-shopping-cart {
                width:20%;
                color: #8d8d8d;
                cursor: pointer;
            }

            .input-group-text {
                background-color: #fff;
                border: 0;
                padding: 0 5px 0 25px;
                margin-bottom: 0;
                color: #8d8d8d;

                i { font-size: 1.5rem; }
            }

            input {
                border: 0;
                padding: 31px 25px 31px 5px;

                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    .e-main-content {
        display: flex;

        .e-side-navbar {

            .e-gadgets {
                padding: 30px 40px 30px 30px;
                margin: 10px;
                background-color: #ff3131;
                box-shadow: 2px 2px 10px -3px #fd0000;
                color: #fff;
                
                .e-gadget-nav {
                    list-style: none;

                    a { 
                        display: block;
                        text-decoration: none;
                        color: rgb(233, 233, 233);
                        padding: 10px 0 0 0;

                        .e-gadges-cant {
                            padding-left: 40px;
                        }

                        &:hover {
                            transition: all .3s;
                            color: #fff;
                        }
                    }
                }
            }

            .e-brands {
                padding: 30px 40px 30px 30px;

                .e-brand-nav {
                    list-style: none;
                }
            }
        }

        .e-mright-content {
            margin: 15px;
            width: 100%;

            .e-product-card {
                background-color: #fff;
                border-radius: 3px;
                border: 1px solid rgb(243, 243, 243);
                cursor: pointer;

                &:hover {
                    transform: scale(1.04);
                    box-shadow: 2px 0 30px -10px #c4c4c4;
                    transition: all .4s;

                    .hidden-content {
                        display: flex;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        height: 45px;
                        transition: all .5s ease;

                        .e-add-cart-button, .e-add-wishlist{
                            visibility: visible;
                            transition: all .5s ease;
                            padding: 10px 25px 9px 25px;
                        }
                    }
                }

                .img-card-product {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    object-position: center;
                }
    
                .e-price {
                    font-weight: 500;
                    
                    &.frst { color: rgb(255, 0, 106);; font-size: 1.6rem; font-weight: 600; }
                    &.scnd {
                        color: rgb(151, 151, 151);
                        font-size: 0.95rem;
                        text-decoration-line: line-through;
                        position: relative;
                        top: -5px;
                    }
                }

                .hidden-content {
                    display: flex;
                    justify-content: space-evenly;
                    height: 0;
        
                    button {
                        &.e-add-cart-button {
                            //background: linear-gradient(to left, #ff467e, #ff629e);
                            background-color: #ff467e;
                            border: none;
                            border-radius: 2px;
                            color: #fff;
                            font-weight: 500;
                            box-shadow: 1px 1px 3px 0 #ff629e;
                            //display: none;
                            visibility: hidden;

                            &:hover {
                                transition: all .5s;
                                background-color: #fc8ab6;
                            }
                        }
                    }
        
                    .e-add-wishlist {
                        text-align: left;
                        color:rgb(245, 156, 156);
                        visibility: hidden;
        
                        .on-hover { display: none; }
        
                        &:hover {
                            color: rgb(255, 93, 93);
                            transition: all .3s;
                            transform: scale(1.1, 1.1);
        
                            .no-hover {
                                display: none;
                            }
                            .on-hover {
                                transition: all .3s;
                                display: block;
                                transform: scale(1.2, 1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}